.input-form label
{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-form input
{
    display: block;
    width: 95%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    padding: 5px 30px;
    transition: 0.5s;
    font-family: "MuseoSansCyrl";
}

.input-form input:focus
{
    outline: none;
    border: 1px solid #949494;
}

.custom-checkbox
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 150px;
    text-align: center;
}

.custom-checkbox input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   
}

.checkmark {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    position: relative;
    margin: auto;
    transition: 0.5s;
}

.checkmark:hover
{
    border-color: #949494;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox .checkmark:after {
    top: 35%;
    left: 50%;
    
    width: 12px;
    height: 12px;
    border: solid #FFD241;
    border-width: 0 4px 4px 0;
    -webkit-transform:translate(-50%, -50%) rotate(45deg);
    -ms-transform:translate(-50%, -50%) rotate(45deg);
    transform:translate(-50%, -50%) rotate(45deg);
}

.checkbox-title
{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.checkbox-wrapper
{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0 35px;    
}

.custom-checkbox.sm .checkmark
{
    height: 15px;
    width: 15px;
}

.custom-checkbox.sm .checkmark:after
{
    width: 6px;
    height: 6px;
    border-width: 0 3px 3px 0;
}

.collapse
{
    display: none;
}

.collapse-toggle.active ~ .collapse
{
    display: block;
}